@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
      background: transparent;
      width: 0.7rem;
}

*::-webkit-scrollbar-thumb {
      background: #eab308;
      border-radius: 5rem;
      margin-right: 1rem;
}
*::-webkit-scrollbar-corner {
      border-radius: 50%;
}
